.main_header_container {
    border: 2px solid #dadada;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

}

.left_container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.left_container h1 {
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.left_container img {
    display: flex;
    align-items: center;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
    /* Adjust values for desired shadow */
    border-radius: 10px;
    border: 2px solid #dadada;
}

.right_container {
    display: flex;
    align-items: center;
}

.right_container img {
    margin-right: 40px;

}


/* ACCOUNT POPUP FIX */
.block_div {
    position: relative;
    /* Important for positioning popup */
}

.accounts_popup {
    border: 2px solid;
    padding: 10px;
    width: 100px;
    position: absolute;

    right: 0;
    z-index: 4;
    border-radius: 10px;
    background-color: white;

    /* Smooth transition */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

/* Show on hover */
.block_div:hover .accounts_popup,
.accounts_popup:hover {
    opacity: 1;
    pointer-events: auto;
}

.login {
    border-bottom: 2px solid rgb(180, 178, 178);
    padding-bottom: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.signup {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main_header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .left_container {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  .left_container h1 {
    font-size: 18px;
    text-align: center;
    width: 200px;
    
  }

  .left_container img {
    height: 40px !important;
    width: 40px !important;
  }

  .right_container {
    justify-content: flex-end;
    width: 100%;
  }

  .right_container img {
    height: 30px !important;
    width: 30px !important;
    margin-right: 0;
  }

  .accounts_popup {
    width: 90px;
    right: 0;
    top: 40px;
    font-size: 14px;
  }
}
