
.main_container1{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    

}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}


@media (max-width:768px) {
     .main_container1 {
        padding: 1rem;
    }

     .card {
        margin-top: 1rem;
        padding: 0 0.5rem;
    }
     

    
}




.stepTracker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  position: relative;
  width: 100%;
}

.stepItem {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;
}

.stepCircle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: white;
}

.stepLabel {
  font-size: 12px;
  margin-top: 8px;
  text-align: center;
   color: #ccc;
  font-weight: bold;
}

.stepLine {
  position: absolute;
  top: 20px;
  height: 3px;
  background-color: #ccc;
  z-index: 1;
}

.leftLine {
  left: 0;
  width: 50%;
}

.rightLine {
  right: 0;
  width: 50%;
}

.completed {
  background-color: #4caf50;
}

.current {
  background-color: #4caf50;
}

.upcoming {
  background-color: #ccc;
}

.lineActive {
  background-color: #4caf50;
}

.lineInactive {
  background-color: #ccc;
}

@media screen and (max-width: 768px) {
   .stepTracker {
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
  }

  .stepItem {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .stepCircle {
    width: 30px;
    height: 30px;
  }

  .stepLabel {
    margin-top: 0;
    margin-left: 8px;
  }

  .stepLine {
    margin-top: -5px;
  }
}




.step11 {
  color: green;
  font-weight: 600;
}

.stepCircle.step11 {
  background-color: green;
  color: white; /* optional: makes the icon inside white for contrast */
}
/* Green right line after Step 1 */
.stepItem:nth-child(1) .rightLine {
  background-color: green;
  
}


/* Step 2 label green */
.step2 {
  color: green;
  font-weight: 600;
}

/* Step 2 circle green background */
.stepCircle.step2 {
  background-color: green;
  color: white;
}

/* Optional: if you want left line before step 2 to also be green */
.stepItem:nth-child(2) .leftLine {
  background-color: green;
}

.stepItem:nth-child(2) .rightLine {
  background-color: green;
}


/* Step 3 label green */
.step3 {
  color: green;
  font-weight: 600;
}

/* Step 3 circle green background */
.stepCircle.step3 {
  background-color: green;
  color: white;
}

/* Step 3 left line green */
.stepItem:nth-child(3) .leftLine {
  background-color: green;
}










