.screenshot_main_container{
    margin-top: 40px;
    
    
}
.step_line_div {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

}

.step1_side_line {
    background-color: green;
    height: 2px;
    width: 150px;
    margin-top: -30px;
    position: relative;
    left: 35;
}

.step2_side_Line {
    background-color: green;
    height: 2px;
    width: 150px;
    margin-top: -30px;
    position: relative;
    left: -34;


}

#step2 {
    margin-left: -48px;
}

#step2 i {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;

}

#heading_summary {
    color: green;
    font-weight: bold;

}

.step3_side_Line {
    background-color: green;
    height: 2px;
    width: 160px;
    margin-top: -30px;
    position: relative;
    left: -13;
}

#step3 {
    margin-left: -24px;
}

#step3 i {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;


}

#heading_payment {
    color: green;
    font-weight: bold;

}

.step4_side_Line {
    background-color: green;
    height: 2px;
    width: 160px;
    margin-top: -30px;
    position: relative;
    left: -10;
}

#step4 {
    margin-left: -48px;
}

#step4 i {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;


}

.step5_side_Line {
    background-color: #dadada;
    height: 2px;
    width: 160px;
    margin-top: -30px;
    position: relative;
    left: -37;
    
    
}
#step5{
    margin-left: -48px; 
}
#step5 i {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    color: white;


}

#heading_screenshot {
    color: green;
    font-weight: bold;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step i {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon {
    font-weight: bold;

    font-size: 28px;
}

.step_side_Line {
    background-color: #dadada;
    height: 2px;
    width: 150px;
    margin-top: -30px;

}

#step1 i {
    border-radius: 50%;
    border: 2px solid;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;

}

.heading {
    color: green;
    font-weight: bold;
}

.step6_side_Line {
    background-color: #dadada;
    height: 2px;
    width: 160px;
    margin-top: -30px;
    position: relative;
    left: -10;
    
    
}
#heading_success{
     color: #dadada;
    font-weight: bold;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 400px;
}

.form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 20px;
  color: #333;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 14px;
  color: #444;
}

.form input[type="file"],
.form input[type="text"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fafafa;
  transition: border 0.2s;
}

.form input[type="file"]:focus,
.form input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}

.form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #0056b3;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
 .step_line_div {

        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 40px;
        
        width: 100%;


    }

    .step1_side_line {
        background-color: green;
        height: 2px;
        width: 90px;
        margin-top: -30px;
        position: relative;
        left: 2;
    }

    .step2_side_Line {
        background-color: green;
        height: 2px;
        width: 170px;
        margin-top: -30px;
        position: relative;
        left: -2px;


    }

    #step2 {
        margin-left: -4px;
        margin-top: -15px;
    }

    #step2 i {
        border-radius: 50%;
        border: 2px solid;
        padding: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        color: white;
        font-size: 20px;

    }

    #heading_summary {
        color: green;
        font-weight: bold;
        font-size: 0.6rem !important;

    }

    .step3_side_Line {
        background-color: green;
        height: 2px;
        width: 170px;
        margin-top: -30px;
        position: relative;
        left: -3;
    }

    #step3 {
        margin-left: -5px;
        margin-top: -15px;
    }

    #step3 i {
        border-radius: 50%;
        border: 2px solid;
        padding: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        color: white;
        font-size: 20px;


    }

    #heading_payment {
        color: green;
        font-weight: bold;
        font-size: 0.6rem !important;

    }

    .step4_side_Line {
        background-color: green;
        height: 2px;
        width: 160px;
        margin-top: -30px;
        position: relative;
        left: -2;
    }

    #step4 {
        margin-left: -8px;
    }

    #step4 i {
        border-radius: 50%;
        border: 2px solid;
        padding: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        color: white;
        font-size: 20px;


    }

    .step5_side_Line {
        background-color: #dadada;
        height: 2px;
        width: 170px;
        margin-top: -30px;
        position: relative;
        left: -6;


    }

    #step5 {
        margin-left: -8px;
        margin-top: -15px;

    }

    #step5 i {
        border-radius: 50%;
        border: 2px solid;
        padding: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dadada;
        color: white;
        font-size: 20px;


    }

    #heading_success {
        color: #dadada;
        font-weight: bold;
        font-size: 0.6rem !important;
    }

    #heading_screenshot {
        color: green;
        font-weight: bold;
        font-size: 0.6rem !important;
        text-align: center;
    }

    .step6_side_Line {
        background-color: #dadada;
        height: 2px;
        width: 160px;
        margin-top: -30px;
        position: relative;
        left: -8;
    }

    .step {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .step i {
        border-radius: 50%;
        border: 2px solid;
        padding: 10px;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .icon {
        font-weight: bold;

        font-size: 20px;
    }

    .step_side_Line {
        background-color: #dadada;
        height: 2px;
        width: 150px;
        margin-top: -30px;

    }

    #step1 i {
        border-radius: 50%;
        border: 2px solid;
        padding: 10px;
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        color: white;

    }

    .heading {
        color: green;
        font-weight: bold;
        font-size: 0.6rem !important;
        text-align: center;
    }
}